<h1 style="color: orange;">Welcome to angular App17</h1>
<h2>Hello! I am sindhu</h2>

<h1>{{firstname}}</h1>
<h4>{{num1}}</h4>
<h4>{{num2}}</h4>

<h2>{{num1+num2}}</h2>
<h2>{{num1>num2}}</h2>
<h2>{{num1>num2}}</h2>
<h2>{{num1<=num2}}</h2>
<h2>{{num1>=num2}}</h2>
<h2>{{num1==num2}}</h2>
<h2>{{num1===num2}}</h2>
<h2>{{(num1%2===0)?"even":"odd"}}</h2>
<h2>{{num1*num3}}</h2>

<h4 *ngFor="let x of students">{{x}}</h4>

<ul>
  <li *ngFor="let x of students">{{x}}</li>
</ul>

<ol>
  <li *ngFor="let x of students">{{x}}</li>
</ol>

<table border="2">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
    <th>Gender</th>
    <th>City</th>
    <th>Salary</th>
  </tr>
  <tr *ngFor="let x of people">
    <td>{{x.firstname}} </td>
    <td>{{x.lastname}}</td>
    <td>{{x.age}}</td>
    <td>{{x.gender}}</td>
    <td>{{x.city}}</td>
    <td>{{x.salary}}</td>
  </tr>
</table>







